<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>
  <h1>This is the HomePage</h1>
  <p>This is the paragraph</p>
  <a href="http://localhost:3000/random">Link to Random Numbers page</a>
  <br />
  <a href="http://localhost:3000/cats">Link to Cats page</a>
</body>

<%- include('partials/footer') %>
